extends /layouts/application.pug

block content
  pre
    |
    |                                                               , ,, ,                              
    |                                                           | || |    ,/  _____  \.             
    |                                                           \_||_/    ||_/     \_||             
    |                                                             ||       \_| . . |_/              
    |                                                             ||         |  L  |                
    |                                                            ,||         |`==='|                
    |                                                            |>|      ___`>  -<'___             
    |                                                            |>|\    /             \            
    |                                                            \>| \  /  ,    .    .  |           
    |                                                             ||  \/  /| .  |  . |  |           
    |                                                             ||\  ` / | ___|___ |  |     (     
    |                                                          (( || `--'  | _______ |  |     ))  ( 
    |                                                        (  )\|| (  )\ | - --- - | -| (  ( \  ))
    |                                                        (\/  || ))/ ( | -- - -- |  | )) )  \(( 
    |                                                         ( ()||((( ())|         |  |( (( () ) sequalize
    |
    |
    |                      _______  _        _______  _______  _______  _______   _________ _______             _______  _        _       
    |             |\     /|(  ____ \( \      (  ____ \(  ___  )(       )(  ____ \  \__   __/(  ___  )  |\     /|(  ____ \( \      ( \      
    |             | )   ( || (    \/| (      | (    \/| (   ) || () () || (    \/     ) (   | (   ) |  | )   ( || (    \/| (      | (      
    |             | | _ | || (__    | |      | |      | |   | || || || || (__         | |   | |   | |  | (___) || (__    | |      | |      
    |             | |( )| ||  __)   | |      | |      | |   | || |(_)| ||  __)        | |   | |   | |  |  ___  ||  __)   | |      | |      
    |             | || || || (      | |      | |      | |   | || |   | || (           | |   | |   | |  | (   ) || (      | |      | |      
    |             | () () || (____/\| (____/\| (____/\| (___) || )   ( || (____/\     | |   | (___) |  | )   ( || (____/\| (____/\| (____/\
    |             (_______)(_______/(_______/(_______/(_______)|/     \|(_______/     )_(   (_______)  |/     \|(_______/(_______/(_______/
    |                                                                                                                    