extends /layouts/application.pug

block content
  table.table.table-stripped.table-hover.mt-4
    thead
      tr
        th
          div.ml-1.float-left= t('view.status.name')
          if isSignedIn()
            div.mr-1.float-right
              +buttonLink('newStatus', 'get', t('view.status.add'))
    tbody
      each status in statuses
        tr
          td
            div.ml-1.float-left= status.name
            if isSignedIn()
              div.mr-1.float-right.btn-group
                - const id = status.id;
                +buttonLink(['status', { id }], 'get', t('view.buttons.change'), 'btn-secondary')
                +buttonLink(['status', { id }], 'delete', t('view.buttons.delete'), 'btn-danger')