extends /layouts/application.pug

block content
  - const params = id ? ['status', { id }] : 'newStatus';
  - const url = params instanceof Array ? urlFor(...params) : urlFor(params);
  +formFor(f, { url, method })
    +input(f, 'name')
    .form-group
      +button(f)
      +buttonLink('statusAll', 'get', 'Cancel', 'btn-secondary')